.title {
  font-family: "Courgette", cursive;
}

.full-height {
  height: 100vh;
}

label,
button {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  font-family: "Courgette", cursive;
}

.text-shadow-3 {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.my-img-responsive {
  max-height: 360px;
  max-width: auto;
}
